navbar {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    background: #fff;
    height: 3.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    border-bottom: 1px solid darkgray;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 5;
    padding-left: 190px;
    padding-right: 190px;
}
.nav-logo {
    cursor: pointer;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 0.5rem;
    list-style: none;
    text-align: center;
    width: 24.5rem;
    justify-content: center;
    margin: 0 !important;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 3.8rem;
}

.nav-links {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    white-space: nowrap;
}
.menu-icon {
    display: none;
}
.logout-container {
    width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    text-align: start;
    z-index: 1;
    background: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 12px;
}

.logout-container:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.username-nav {
    cursor: pointer;
    padding-left: 12px;
}
.username-container {
    height: 3.8rem;
}
.join-button {
    height: 2rem;
    width: 5.65rem;
    border-radius: 10px;
    background: #ff5555;
    border: none;
    color: white;
}
.languageBtn {
    transition: all 0.4s;
    position: absolute;
    top: -2px;
    transition-delay: 0.2s;
}
.mnLanguageBtn {
    left: 14px !important;
}
.enLanguageBtn {
    left: 0px;
}