.grid {
    display: grid;
}

@for $i from 1 through 1000 {
    .grid-gap-#{$i} {
        grid-gap: $i + px;
    }

    .grid-col-gap-#{$i} {
        grid-column-gap: $i + px;
    }

    .grid-row-gap-#{$i} {
        grid-row-gap: $i + px;
    }
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-cols-7 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-rows-2 {
    grid-template-rows: 1fr 1fr;
}
.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
