.carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 3.8rem);
    /* height: 90vh; */
}

.vignette {
    position: relative;
    display: inline-block;
    width: 100%;
}
/* .vignette > React-PLayer {
    display: block;
} */
.vignette > img {
    display: block;
    width: 100%;
}
.title__container {
    width: 60%;
}
.car-title {
    font-size: 2rem;
    color: white;
    display: block;
    position: absolute;
    top: 75%;
    left: 15%;

    background-color: black;
    padding: 0.8rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.car-subtitle {
    color: white;
    font-size: 2rem;
    display: block;
    position: absolute;
    top: 85%;
    left: 15%;
    width: 70%;
    cursor: pointer;
}
.vignette::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 10rem 5rem rgba(0, 0, 0, 0.6);
}
.vignette .image {
    height: 95vh;
    width: 100%;
    /* aspect-ratio: 5 / 8; */
    z-index: -2;
}
.right-arrow {
    position: absolute;
    top: 50%;
    right: 1rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.left-arrow {
    position: absolute;
    top: 50%;
    left: 1rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.slide {
    opacity: 0;
    transition-duration: 1s ease;
}
.slide.active {
    opacity: 1;
}
.vignette {
    opacity: 1;
}
@media screen and (max-width: 1024px) {
    .right-arrow {
        display: none;
    }
    .left-arrow {
        display: none;
    }
    .car-title {
        font-size: 1.8rem;
    }
    .car-subtitle {
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 600px) {
    .car-title {
        font-size: 1.3rem;
    }
    .car-subtitle {
        font-size: 1.3rem;
    }
}
