.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5vw;
    grid-template-rows: 1fr 1fr;
    row-gap: 5%;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-left: 5%;
}
