@media only screen and (max-width: 600px) {
    .image {
        height: 300px;
    }
}
.slide {
    opacity: 0;
    transition-duration: 1s ease;
    transform: scale(0.9);
    /* display: none; */
    /* width: 0; */
    overflow: hidden;
}
.slide.active {
    width: 100%;
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1);
    display: block;
}
