.blog-body-container {
  width: 100%;
  margin-top: 80px;
  // overflow-y: scroll;
  .blog-body {
    .line {
      width: 100%;
      margin: 50px 0px;
      height: 1.5px;
      background-color: #c4c4c4;
    }
    .categories-text {
      font-family: Raleway;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left;
    }
    .category-item {
      border-radius: 10px;
      background: #efefef;
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      height: 50px;
      display: flex;
      align-items: center;
      color: #00acd1;
      margin: 10px 0px;
      padding-left: 40px;
    }

    // margin-top: 40px;
    padding: 0px 11.875rem;
    .namecircle {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #a6a6a6;
      margin-right: 12px;
    }
    .lpt {
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      letter-spacing: 0.1em;
    }
    .nt-selected-lpt {
      opacity: 0.6;
    }
    .selected-lpt {
      font-weight: 700;
      opacity: 1;
    }
    .big-item {
      .blog-tag {
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 22px;
      }
      .blog-header {
        font-family: Raleway;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
        margin: 15px 0px;
      }
      .publishername {
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #a6a6a6;
        margin-right: 15px;
      }
      .time {
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #a6a6a6;
      }
    }
    .medium-item {
      .blog-header {
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #000000;
      }
      .blog-tag {
        margin: 15px 0px;
      }
      .text {
        // margin: 10px 0px;
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;
      }
    }
    .small-item {
      .blog-header {
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #000000;
      }
    }
    .small-col-item {
      .blog-header {
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
      }
      .publishername {
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 15px;
      }
      .time {
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
      }
      .blog-tag {
        margin: 20px 0px;
      }
    }
  }
}
.image {
  object-fit: cover;
}
@media screen and (max-width: 1060px) {
  .blog-body {
    padding: 0;
  }
}
